/* Banner */
.banner {
  height: 90vh;
  background: url('/static/website/images/gradientBanner.png') center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(8, 8, 10, 0.6); /* dark overlay */
}

.banner-content {
  position: relative;
  text-align: center;
  color: white;
}

.banner-content h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 22px;
  max-width: 700px;
  margin: 0 auto;
}


/* White border */
main {
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid white;
  padding-left: 5px;
  padding-right: 5px;
}


/* Centered section titles */
main h2 {
  text-align: center;
  max-width: 700px;
  margin: 40px auto 20px auto;
}


/* About section */
.about-section {
  margin: 400px auto 500px auto; /* lower the about section + gap below */
  max-width: 1000px;
  text-align: center;
}

.about-section h2 {
  font-size: 30px;      /* size of about title */
}

.about-section p {
  font-size: 20px;      /* about text size */
  line-height: 1.3;
}


/* Trending section */
.danger-list {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 10px;
}

.danger-item {
  margin-bottom: 10px;
  border: 1px solid #a1a1a1;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 10px;
}

.danger-title {
  width: 100%;
  text-align: left;
  padding: 15px;
  background: #29292b;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
}

.tags {
  font-size: 14px;
  color: #ffffff;
  padding: 0 12px;
  margin-top: 6px;
}

.danger-content {
  display: none;
  padding: 12px;
}

.see-more {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
  background: #474749;
  color: #ffffff;
  border: 1px solid #474749;
}
